<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name(size=50) }} <br />
        {{ form.last_name.label }} {{ form.last_name(size=50) }} <br />
        {{ form.email.label }} {{ form.email() }} <br />
        {{ form.username.label }} {{ form.username() }} <br />
        {{ form.password.label }} {{ form.password() }} <br />
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>